In [1]:
import pandas as pd
import json
import numpy as np
import re
import matplotlib.pyplot as plt
import networkx as nx
import os

In [31]:
df_logs_0 = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Reduced_logs/rts_cleaned_0.csv',usecols=['User_IP','Escenic_ID','Url','Topic','Access_date'])

In [33]:
df_logs_1 = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Reduced_logs/rts_cleaned_1.csv',usecols=['User_IP','Escenic_ID','Url','Topic','Access_date'])

In [35]:
df_logs_2 = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Reduced_logs/rts_cleaned_2.csv',usecols=['User_IP','Escenic_ID','Url','Topic','Access_date'])

In [36]:
df_logs_3 = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Reduced_logs/rts_cleaned_3.csv',usecols=['User_IP','Escenic_ID','Url','Topic','Access_date'])

In [37]:
df_logs_4 = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Reduced_logs/rts_cleaned_4.csv',usecols=['User_IP','Escenic_ID','Url','Topic','Access_date'])

In [16]:
print(df_logs_0.shape)
print(df_logs_1.shape)
print(df_logs_2.shape)
print(df_logs_3.shape)
print(df_logs_4.shape)

(2789178, 4)
(8996796, 4)
(9422818, 4)
(9599485, 4)
(8904184, 4)

In [38]:
df_logs = pd.concat([df_logs_0,df_logs_1,df_logs_2,df_logs_3,df_logs_4], ignore_index=True, sort=False)

In [39]:
#We raise an exception puttin NaN
df_logs['Escenic_ID'] = pd.to_numeric(df_logs['Escenic_ID'],errors='coerce')

In [40]:
df_logs.reset_index(inplace=True,drop=True)

In [41]:
df_logs.shape

(39712461, 5)

In [42]:
df_logs

,User_IP,Url,Access_date,Topic,Escenic_ID
0,5322f918316189dd00a7911876c42e39,programmes/tsr1/13781244-tsr1-journee-du-samed...,2023-03-25 11:13:19,other,NaN
1,5322f918316189dd00a7911876c42e39,audio-podcast/2023/audio/entretien-avec-sophie...,2023-03-25 11:13:19,other,NaN
2,5322f918316189dd00a7911876c42e39,audio-podcast/2023/audio/comment-germent-les-g...,2023-03-25 11:13:20,other,NaN
3,5322f918316189dd00a7911876c42e39,la-1ere/programmes/13869237-la-1ere-journee-du...,2023-03-25 11:13:20,other,NaN
4,5322f918316189dd00a7911876c42e39,audio-podcast/2023/audio/rtsreligion-la-nouvel...,2023-03-25 11:13:20,other,NaN
...,...,...,...,...,...
39712456,11844c2ee345956fc724f4d53957a391,archives/tv/information/3472653-zen-et-shinto....,2023-03-06 23:23:22,NaN,NaN
39712457,80c0e08fc0527f96ab6b1564d807499d,kids/vod/les-petits/11469716-saison-2-420---cl...,2023-03-06 23:23:22,NaN,NaN
39712458,1b33452ebc72bd1acbd04d992d428df6,archives/tv/culture/dimensions/11713213-la-tou...,2023-03-06 23:23:22,NaN,NaN
39712459,a640ccac63ba9de6d10145986fa9043a,info/suisse/13840146-le-conseil-federal-pourra...,2023-03-06 23:23:46,NaN,NaN
39712460,a31170df6094e7ab916c3be4f69b3ebc,play/v3/index.html,2023-03-06 23:23:50,NaN,NaN

In [43]:
df_logs.to_csv('logs_cleaned_all_with_TOPIC.csv', index=False)

In [24]:
df_articles = pd.read_csv('C:/Users/laura.finarell/OneDrive - HESSO/Polarizzazione/Code_Laura/Articles/Articles_withCleanedUN.csv',usecols=['Escenic_ID','publishDate','iptcTags','entities','tail','userNeeds_clean'])

In [44]:
df_articles

,Escenic_ID,publishDate,iptcTags,entities,tail,userNeeds_clean
0,13824268,2023-03-01,"[""Secours d'urgence"", 'Accident ferroviaire', ...","['Grèce', 'train', 'décès', 'passager', 'hôpit...",court,UPDATE
1,13826493,2023-03-01,"['Politique', 'Épidémie', 'Science et technolo...","['Chine', 'COVID-19', 'FBI', 'laboratoire', 'P...",long,ANALYSIS
2,13825888,2023-03-01,"['Sport', 'Football']","['Suisse', 'Coupe de Suisse de football', 'can...",long,UPDATE
3,13826494,2023-03-01,"['Église', 'Candidats', ' Groupe communautaire...","['Philippe Leuba', 'Église évangélique', 'EERV...",court,UPDATE
4,13826435,2023-03-01,"['Sport', 'Ski', 'Saut à skis']","['Suisses', 'ski', 'Emely Torazza', 'championn...",court,UPDATE
...,...,...,...,...,...,...
3715,14059697,2023-05-30,"['Environnement', 'Économie et finances', 'Cha...","['Suisse', 'canton du Jura', 'coopération', 'v...",court,UPDATE
3716,14059041,2023-05-30,"['Sport', 'Tennis']","['Benoît Paire', 'Simona Waltert', 'Elina Svit...",court,UPDATE
3717,14060552,2023-05-30,"[""Exploration de l'Espace"", 'Science et techno...","['Chine', 'astronaute', 'victoire', 'Russie', ...",court,UPDATE
3718,14059376,2023-05-30,"['Politique', 'Banque', 'Économie et finances'...","['Credit Suisse', ""commission d'enquête parlem...",court,UPDATE
3719,14060243,2023-05-30,"['Politique', 'Gouvernement', 'Défense', 'Équi...","['militaire', 'Corée du Nord', 'satellite', 'J...",court,UPDATE

In [6]:
df_articles.dtypes

escenicID       int64
publishDate    object
iptcTags       object
entities       object
dtype: object

In [45]:
df_complete = pd.merge(df_logs,df_articles,on='Escenic_ID')

In [47]:
df_complete.drop(['Url','entities','iptcTags','tail'],axis =1,inplace=True)

In [48]:
df_complete

,User_IP,Access_date,Topic,Escenic_ID,publishDate,userNeeds_clean
0,086754417aefc1fffa19d36df1f6835d,2023-03-25 11:13:22,culture,13891031.0,2023-03-24,UPDATE
1,92af9d9e6b00d4b8e734e25d8fcbdd20,2023-03-25 11:09:22,culture,13891031.0,2023-03-24,UPDATE
2,094ccfd5d2215a334301a2933e5a33df,2023-03-25 11:11:49,culture,13891031.0,2023-03-24,UPDATE
3,dd0ded0ab2d1dc8fc5d85f159cacf515,2023-03-25 11:55:49,culture,13891031.0,2023-03-24,UPDATE
4,6c9892b8c4d126b6da8d1e96752a22ac,2023-03-25 11:53:42,culture,13891031.0,2023-03-24,UPDATE
...,...,...,...,...,...,...
460545,15e2603af39507b233cb8b793f8a7afe,2023-03-27 10:43:04,sport,13895686.0,2023-03-27,UPDATE
460546,e49bba1adc066b9b04cb224ae8592037,2023-03-27 10:41:27,sport,13895686.0,2023-03-27,UPDATE
460547,e49bba1adc066b9b04cb224ae8592037,2023-03-27 10:41:27,sport,13895686.0,2023-03-27,UPDATE
460548,87ac8a8ce623da79eb458fb92193f7e5,2023-03-27 10:47:29,sport,13895686.0,2023-03-27,UPDATE
460549,e2c57a68021224a344291a4a9f265602,2023-03-27 10:47:30,sport,13895686.0,2023-03-27,UPDATE

In [51]:
## Check if the association topic-escenic_id is unique
unique_topics_by_id = df_complete.groupby('Escenic_ID')['Topic'].unique()

# Check if any group has more than one unique topic
repetitions = unique_topics_by_id[unique_topics_by_id.apply(len) > 1]

if not repetitions.empty:
    print("Repetitions found for different topics with the same Escenic ID:")
    for escenic_id, topics in repetitions.items():
        print(f"Escenic ID: {escenic_id}, Topics: {', '.join(topics)}")
else:
    print("No repetitions found for different topics with the same Escenic ID.")

Repetitions found for different topics with the same Escenic ID:
Escenic ID: 13828015.0, Topics: economie, monde
Escenic ID: 13836586.0, Topics: sciences-tech, monde
Escenic ID: 13844925.0, Topics: sciences-tech, monde
Escenic ID: 13874379.0, Topics: suisse, sport
Escenic ID: 13880961.0, Topics: culture, monde
Escenic ID: 13884009.0, Topics: sciences-tech, suisse

In [67]:
df_complete.shape

(460550, 6)

In [68]:
df_complete

,User_IP,Access_date,Topic,Escenic_ID,publishDate,userNeeds_clean
0,086754417aefc1fffa19d36df1f6835d,2023-03-25 11:13:22,culture,13891031.0,2023-03-24,UPDATE
1,92af9d9e6b00d4b8e734e25d8fcbdd20,2023-03-25 11:09:22,culture,13891031.0,2023-03-24,UPDATE
2,094ccfd5d2215a334301a2933e5a33df,2023-03-25 11:11:49,culture,13891031.0,2023-03-24,UPDATE
3,dd0ded0ab2d1dc8fc5d85f159cacf515,2023-03-25 11:55:49,culture,13891031.0,2023-03-24,UPDATE
4,6c9892b8c4d126b6da8d1e96752a22ac,2023-03-25 11:53:42,culture,13891031.0,2023-03-24,UPDATE
...,...,...,...,...,...,...
460545,15e2603af39507b233cb8b793f8a7afe,2023-03-27 10:43:04,sport,13895686.0,2023-03-27,UPDATE
460546,e49bba1adc066b9b04cb224ae8592037,2023-03-27 10:41:27,sport,13895686.0,2023-03-27,UPDATE
460547,e49bba1adc066b9b04cb224ae8592037,2023-03-27 10:41:27,sport,13895686.0,2023-03-27,UPDATE
460548,87ac8a8ce623da79eb458fb92193f7e5,2023-03-27 10:47:29,sport,13895686.0,2023-03-27,UPDATE
460549,e2c57a68021224a344291a4a9f265602,2023-03-27 10:47:30,sport,13895686.0,2023-03-27,UPDATE

In [62]:
df_complete['Escenic_ID'].unique().size

894

In [63]:
#We choose the most frequent
most_frequent_topic_by_id = df_complete.groupby('Escenic_ID')['Topic'].agg(lambda x: x.mode()[0])
# Create a dictionary mapping Escenic IDs to their most frequent topic
id_to_most_frequent_topic = most_frequent_topic_by_id.to_dict()
df_complete['Topic']=df_complete['Escenic_ID'].map(id_to_most_frequent_topic)

In [65]:
unique_topics_by_id = df_complete.groupby('Escenic_ID')['Topic'].unique()

# Check if any group has more than one unique topic
repetitions = unique_topics_by_id[unique_topics_by_id.apply(len) > 1]

if not repetitions.empty:
    print("Repetitions found for different topics with the same Escenic ID:")
    for escenic_id, topics in repetitions.items():
        print(f"Escenic ID: {escenic_id}, Topics: {', '.join(topics)}")
else:
    print("No repetitions found for different topics with the same Escenic ID.")

No repetitions found for different topics with the same Escenic ID.

In [69]:
df_complete.to_csv('Dataset_User_Articles_all.csv')

## We need to split the iptcTags

In [10]:
df_complete.loc[0,'iptcTags'].replace('[','').replace(']','').split('", "')

["'Arts et divertissement', 'Cinéma', 'Culture', 'Prix et récompenses'"]

In [11]:
df_complete['iptcTags']#.to_list()

0         ['Arts et divertissement', 'Cinéma', 'Culture'...
1         ['Arts et divertissement', 'Cinéma', 'Culture'...
2         ['Arts et divertissement', 'Cinéma', 'Culture'...
3         ['Arts et divertissement', 'Cinéma', 'Culture'...
4         ['Arts et divertissement', 'Cinéma', 'Culture'...
                                ...
416708            ['Sport', 'Snowboard', 'Exploit sportif']
416709            ['Sport', 'Snowboard', 'Exploit sportif']
416710    ['Politique', 'Éducation', 'Gouvernement', 'Éc...
416711    ['Politique', 'Éducation', 'Gouvernement', 'Éc...
416712    ['Politique', 'Gouvernement', 'Cultes et secte...
Name: iptcTags, Length: 416713, dtype: object

In [12]:
df_complete['iptcTags'] = df_complete['iptcTags'].str.replace('[','')
df_complete['iptcTags'] = df_complete['iptcTags'].str.replace(']','')

In [13]:
df_complete['iptcTags'].str.split(', ',expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,'Arts et divertissement','Cinéma','Culture','Prix et récompenses',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,'Arts et divertissement','Cinéma','Culture','Prix et récompenses',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,'Arts et divertissement','Cinéma','Culture','Prix et récompenses',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,'Arts et divertissement','Cinéma','Culture','Prix et récompenses',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,'Arts et divertissement','Cinéma','Culture','Prix et récompenses',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416708,'Sport','Snowboard','Exploit sportif',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
416709,'Sport','Snowboard','Exploit sportif',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
416710,'Politique','Éducation','Gouvernement','Écoles,collèges,lycées','Investissements',None,None,None,None,None,None,None,None,None,None,None,None
416711,'Politique','Éducation','Gouvernement','Écoles,collèges,lycées','Investissements',None,None,None,None,None,None,None,None,None,None,None,None
416712,'Politique','Gouvernement','Cultes et sectes','Réseaux sociaux',None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [14]:
df_complete['iptcTags'].str.split(', ',expand=True).to_excel('tags.xlsx')

In [17]:
df_complete['User_IP'].size

44191

In [18]:
df_group_by = df_complete.groupby(['User_IP','publishDate'],as_index = False).count()

In [19]:
#delete the record with more than 20 articles per day (and that's high but to be sure)
df_group_by = df_group_by.drop(df_group_by[df_group_by['iptcTags'] > 20].index)

In [20]:
User_to_keep = df_group_by['User_IP'].unique()

In [19]:
User_to_keep

array(['0000f3584ef7a663ff605d9bfdd23fbc',
       '000213c72a17939004a1518185845660',
       '000265e7932e227238fc4f4d925697fe', ...,
       'fffe54d9fe7535c954141ff2056edd49',
       'fffe75a8722c69ae1c5311a136e4ab0a',
       'ffff05e23fe242d5c3babac2d135f3bf'], dtype=object)

In [21]:
df_complete_filtered = df_complete[df_complete['User_IP'].isin(User_to_keep)]

In [22]:
#We want to have a correspondance 1-1 user-article
df_complete_filtered = df_complete_filtered.drop_duplicates(subset=['User_IP','escenicID'],keep='first')
df_complete_filtered = df_complete_filtered.reset_index( drop=True)
df_complete_filtered

,User_IP,escenicID,publishDate,iptcTags,entities
0,4d21551a47debd980cb1569cfc6a1b1f,13874253.0,2023-03-19,[],"['Union suisse des arts et métiers', 'Henrique..."
1,08fac65483c4e8bcd406dfa9d98e0a69,13874253.0,2023-03-19,[],"['Union suisse des arts et métiers', 'Henrique..."
2,8e20ff38026811af9bca14722aeed559,13874253.0,2023-03-19,[],"['Union suisse des arts et métiers', 'Henrique..."
3,2513d52d256117b9e59c56ae3129ecd4,13874253.0,2023-03-19,[],"['Union suisse des arts et métiers', 'Henrique..."
4,5225cd641ae60ab0d244557baf19043b,13874253.0,2023-03-19,[],"['Union suisse des arts et métiers', 'Henrique..."
...,...,...,...,...,...
13358,ea5dac5f993cd347e2ca9e3b58ca09dc,13832280.0,2023-03-04,"['Arts, culture, divertissement et médias', 'S...","['The New York Times', 'personne trans', 'jour..."
13359,4ce462e65e1cc15b23bcc9ebbeafeb01,13834210.0,2023-03-04,"['Sport', 'Combiné nordique', 'Ski']","['Jarl Magnus Riiber', 'combiné nordique', 'No..."
13360,24e769afea427e2bf4370931fd2c3ab3,13835458.0,2023-03-05,"['Sport', 'Hockey sur glace']","['États-Unis', 'Kevin Fiala', 'NHL', 'Californ..."
13361,b2d2ef8c15287614dda8632bdc8cc48d,13835458.0,2023-03-05,"['Sport', 'Hockey sur glace']","['États-Unis', 'Kevin Fiala', 'NHL', 'Californ..."
13362,5322f918316189dd00a7911876c42e39,13836063.0,2023-03-05,"['Sport', 'Biathlon', 'Prix sportif']","['duo', 'Niklas Hartweg', 'Amy Baserga', 'podi..."

In [23]:
#df_user_tags = pd.concat([df_complete_filtered['User_IP'],df_complete_filtered['iptcTags'].str.split(', ',expand=True)],axis=1)
df_user_tags = pd.concat([df_complete_filtered['User_IP'],df_complete_filtered['iptcTags']],axis=1)

In [24]:
print(df_complete_filtered['User_IP'].unique().size)
print(df_user_tags['User_IP'].unique().size)

7348
7348

In [25]:
df_user_tags['iptcTags'] = df_user_tags['iptcTags'].str.replace('[','')
df_user_tags['iptcTags'] = df_user_tags['iptcTags'].str.replace(']','')

In [26]:
df_user_tags

,User_IP,iptcTags
0,4d21551a47debd980cb1569cfc6a1b1f,
1,08fac65483c4e8bcd406dfa9d98e0a69,
2,8e20ff38026811af9bca14722aeed559,
3,2513d52d256117b9e59c56ae3129ecd4,
4,5225cd641ae60ab0d244557baf19043b,
...,...,...
13358,ea5dac5f993cd347e2ca9e3b58ca09dc,"'Arts, culture, divertissement et médias', 'So..."
13359,4ce462e65e1cc15b23bcc9ebbeafeb01,"'Sport', 'Combiné nordique', 'Ski'"
13360,24e769afea427e2bf4370931fd2c3ab3,"'Sport', 'Hockey sur glace'"
13361,b2d2ef8c15287614dda8632bdc8cc48d,"'Sport', 'Hockey sur glace'"
13362,5322f918316189dd00a7911876c42e39,"'Sport', 'Biathlon', 'Prix sportif'"

In [26]:
df_user_tags['User_IP'].value_counts()

User_IP
e6faaa645d1bca4ec15f7e3522fe9327    2734
2304aabb63bf4434475fe1b895acfb21    2067
bb1df9153dbc711cc58a989246aacab0    2043
e95a06be59eac80c57cce844ca150a9c    1714
1b0f25f4aace4450f0d82f686062d1f8    1581
                                    ...
64016926e9ae6d6efc7cdbe5566d22cb       1
9ab36364c21a329a54b9eed3b8828339       1
cd543ef1fb1ae120660e9db1bb9f1e78       1
c2f89888998cd40fb03fac355c143102       1
aee58bc837694fb990fac180394b2b6d       1
Name: count, Length: 119936, dtype: int64

In [27]:
df_user_tags['iptcTags'] = df_user_tags.groupby(['User_IP'])['iptcTags'].transform(','.join)

In [28]:
df_user_tags.to_excel('user_tags_ALL.xlsx')

In [ ]:
df_user_tags['iptcTags'].str.split(', ',expand=True)

MemoryError: Unable to allocate 30.1 GiB for an array with shape (366301, 11027) and data type object

## Since there are to many Tags we decide to filter them according to :https://www.iptc.org/std/NewsCodes/treeview/mediatopic/mediatopic-fr.html

There are 17 tags

In [29]:
tags_to_keep = ['Arts, culture, divertissement','Conflit, guerre et paix','Criminalité, droit et justice','Désastres et accidents','Environnement','Gens animaux insolite','Météo','Politique','Religion et croyance','Santé','Science et technologie','Social','Société','Sport','Vie quotidienne et loisirs','Économie et finances','Éducation']

In [30]:
#We delete the rows that have not this main tags
df_user_tags = df_user_tags.drop(df_user_tags[df_user_tags['iptcTags'].str.contains('|'.join(tags_to_keep))==False].index)
df_user_tags = df_user_tags.reset_index( drop=True)

In [31]:
for i in range(2):    
    print(re.findall('|'.join(tags_to_keep),df_user_tags.iloc[i,1]))

['Économie et finances', 'Environnement', 'Politique', 'Sport', 'Politique', 'Conflit, guerre et paix', 'Société', 'Santé', 'Santé', 'Science et technologie', 'Économie et finances', 'Social', 'Santé']
['Économie et finances', 'Environnement', 'Politique', 'Économie et finances', 'Environnement', 'Politique', 'Économie et finances', 'Environnement', 'Politique', 'Économie et finances', 'Environnement', 'Politique', 'Société', 'Économie et finances', 'Criminalité, droit et justice', 'Politique', 'Société', 'Politique', 'Société', 'Sport', 'Économie et finances', 'Politique', 'Criminalité, droit et justice', 'Désastres et accidents', 'Conflit, guerre et paix', 'Science et technologie', 'Environnement', 'Science et technologie', 'Environnement', 'Science et technologie', 'Environnement', 'Science et technologie', 'Environnement', 'Science et technologie', 'Environnement']

In [31]:
iptcTags_filtered = []
for i in range(df_user_tags.shape[0]):
    iptcTags_filtered.append(re.findall('|'.join(tags_to_keep),df_user_tags.iloc[i,1]))

In [32]:
df_user_tags['iptcTags_filtered'] = iptcTags_filtered

In [33]:
#if inplae = True we don't have to reassing the df
df_user_tags_filtered = df_user_tags.drop('iptcTags',axis=1)

In [34]:
#Now we have to count the occurences of each tag for each user and store the frequency of a tag in the corresponding column
counter = []
for i in range(df_user_tags_filtered.shape[0]):
    unique,counts = np.unique(df_user_tags_filtered.iloc[i,1],return_counts=True)
    counter.append(dict(zip(unique, counts)))

In [43]:
dict(zip(unique, counts))

{'Conflit, guerre et paix': 1,
 'Environnement': 1,
 'Politique': 2,
 'Santé': 3,
 'Science et technologie': 1,
 'Social': 1,
 'Société': 1,
 'Sport': 1,
 'Économie et finances': 2}

In [35]:
df_user_tags_filtered['counter'] = counter

In [36]:
df_to_cluster = pd.DataFrame(df_user_tags_filtered['counter'].values.tolist(),index=df_user_tags_filtered['User_IP']).fillna(0).astype(int)

In [37]:
df_to_cluster.to_csv('user_tagsfrequency_ALL.csv')